aiohappyeyeballs
aiohttp
aiosignal
requests
alembic
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
auth0-python
babel
backoff
backrefs
bcrypt
beautifulsoup4
blinker
blis
build
cachetools
catalogue
certifi
cffi
cfgv
charset-normalizer
chroma-hnswlib
chromadb
click
clickhouse-connect
cloudpathlib
cohere
colorama
coloredlogs
confection
crewai
crewai-tools
cryptography
cymem
dataclasses-json
decorator
deprecation
distlib
distro
docker
docstring_parser
duckdb
durationpy
embedchain
en_core_web_sm
et_xmlfile
executing
faiss-cpu
fastapi
fastavro
txtai>=8.2.0
mcp>=1.11.0
filelock
Flask
flatbuffers
frozenlist
fsspec
ghp-import
google-auth
googleapis-common-protos
gptcache
greenlet
grpcio
h11
h2
hnswlib
hpack
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
identify
idna
importlib_metadata
importlib_resources
instructor
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kubernetes
lancedb
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langcodes
langsmith
language_data
litellm
lz4
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mem0ai
mergedeep
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mmh3
monotonic
mpmath
msgpack
multidict
murmurhash
mypy_extensions
networkx
nodeenv
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
paginate
pandas
parso
pathspec
pdfminer.six
pdfplumber
pillow
platformdirs
portalocker
posthog
pre_commit
preshed
prompt_toolkit
propcache
proto-plus
protobuf
pulsar-client
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pymdown-extensions
pypdf
pypdfium2
PyPika
pyproject_hooks
pyreadline3
pyright
pysbd
PySide6_Addons
PySide6_Essentials
python-dateutil
python-dotenv
pytube
pytz
pyvis
pywin32
PyYAML
pyyaml_env_tag
qdrant-client
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
schema
scikit-learn
scipy
setuptools
shellingham
shiboken6
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
sympy
tabulate
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
tomli
tomli_w
torch
tqdm
traitlets
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
virtualenv
wasabi
watchdog
watchfiles
wcwidth
weasel
websocket-client
websockets
Werkzeug
wrapt
yarl
zipp
zstandard
